<div class="bg-blue-600 text-black p-5 w-full flex ">
  <div class="flex flex-row justify-start items-center gap-3 w-full pl-16">
    
    <!-- Titulo -->
    <a routerLink="/home">
      <span class="text-blue-50 text-4xl" id="titulo">
        Saúde 2.0
      </span>
    </a>

    <!-- Sobre -->
    <app-item-navegacao
      [link]="'/sobre'"
      [icone]="'info'"
      [titulo]="'Sobre'"></app-item-navegacao>

    <!-- Contato -->
    <app-item-navegacao
      [link]="'/contato'"
      [icone]="'group'"
      [titulo]="'Contato'"></app-item-navegacao>

    <!-- Unidades -->
    <app-item-navegacao
      [link]="'/unidades'"
      [icone]="'travel_explore'"
      [titulo]="'Unidades'"></app-item-navegacao>

    <!-- Login -->
    <app-item-navegacao
      [link]="'/login'"
      [icone]="'login'"
      [titulo]="'Login'"></app-item-navegacao>
      
  </div>
</div>
