#titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#contato{
    font-size: 15px;
}
#sobre{
    font-size: 15px;
}

#localizacao{
    font-size: 15px;
}

#login{
    font-size: 15px;
}
