<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
</head>
  <body>
    <div class="bg-blue-600 text-black p-5 w-full flex ">
      <div class="flex ">
        <div class="">
          <a routerLink="/home"><h1 class="text-blue-50 text-4xl pl-16 pr-9" id="titulo">Saúde 2.0</h1></a>
        </div>
        <div class="py-2 px-0">
          
          
          <a routerLinkActive="active" routerLink="/contato" class="m-2">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
            </svg> -->
            <span id="contato" class="text-blue-50 hover:bg-blue-500 hover:text-white rounded-md px-2 py-4 text-sm font-medium border-spacing-5">Contato</span>

          </a>
        </div>
        <div class="py-2 px-0">
          <a routerLinkActive="active" routerLink="/sobre" class="m-2"><span id="sobre" class="text-blue-50 hover:bg-blue-500 hover:text-white rounded-md px-3 py-4 text-sm font-medium">Sobre</span></a>
        </div>
      </div>
    </div>
  </body>
</html>
