  <div class="bg-blue-400 text-black p-5 w-full flex ">
    <div class="flex ">
      <div class="">
        <a routerLink="/home"><h1 class="text-blue-50 text-4xl pl-16 pr-9" id="titulo">Saúde 2.0</h1></a>
      </div>
      <div class="py-2 px-0">
        <a routerLinkActive="active" routerLink="/contato" class="m-2"><span id="contato" class="text-blue-50 hover:bg-blue-500 hover:text-white rounded-md px-2 py-5 text-sm font-medium border-spacing-5">Contato</span></a>
      </div>
      <div class="py-2 px-0">
        <a routerLinkActive="active" routerLink="/sobre" class="m-2"><span id="sobre" class="text-blue-50 hover:bg-blue-500 hover:text-white rounded-md px-3 py-5 text-sm font-medium">Sobre</span></a>
      </div>
    </div>
  </div>
