<div class="flex flex-col items-center p-7">
    <div id="corpo" class="flex flex-col items-center">
        <div class="p-2">
            <h1 class="" id="titulo">Projeto Saude 2.0</h1>
        </div>
        
        <div class="">
            <p class="text-left" id="conteudo">Esse projeto iniciou-se para que seja a versão 2.0 do aplicativo Saude Já do governo do Paraná. 
                <br><br>
                A Lei Federal n.º  12.527/2011 regulamentada pelo Decreto Federal n.º 7724/2012 e no âmbito do Município de Curitiba pelo Decreto n.º 1370/2023,garante ao cidadão o direito constitucional de acesso às informações públicas, sendo que muitas delas já estão publicadas no Portal da Transparência (confira abaixo).
    Informação Pública se refere a qualquer tipo de dado ou registro de interesse público em poder de órgãos e agentes da administração, cuja utilização e/ou publicização não infrinja qualquer direito legal ou obrigação de confidencialidade.
    O prazo de atendimento das solicitações de acesso a informações públicas é de 20 (vinte) dias corridos, prorrogáveis por mais 10 (dez) dias mediante justificativa enviada ao solicitante.
    O prazo para interpor recursos é de 10 (dez) dias contados a partir do encaminhamento da resposta. O prazo para respostas tanto do primeiro como do segundo recurso é de 5 (cinco) dias.
    A responsabilidade para atendimento do primeiro recurso é a autoridade máxima do órgão demandado.
    A responsabilidade para atendimento do segundo recurso é da Procuradoria Geral do Município.
            </p>
        </div>
        
    </div>
</div>