<li>
    <div class="flex items-center gap-x-6">
        <img class="h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <div>
            <h3 class=" font-extrabold leading-7 text-gray-900">
                Unidade de Saúde Aurora
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
                Rua Theophilo Mansur, 500 - Novo Mundo <br>
                Curitiba - PR, 81050-380 <br>
                Abre seg. às 07:00 <br>
                Telefone: (41) 3212-1460 <br>
            </p>
        </div>
    </div>
</li>