<li class="border-2 rounded-3xl pr-4 pt-4 flex items-center">
    <div class="flex items-center gap-x-6 pl-6">
      
        <div>    
            <span class="font-thin text-2xl text-blue-600">
                Unidade de Saúde Aurora
            </span>
            <p class="text-sm font-semibold leading-6 text-gray-600">
                Rua Theophilo Mansur, 500 - Novo Mundo <br>
                Curitiba - PR, 81050-380 <br>
                Abre seg. às 07:00 <br>
                Telefone: (41) 3212-1460 <br>
            </p>
    </div></div>
    
</li>

<li>
        <div class="flex items-center gap-x-6 pl-6">
        <div>
            <span class="font-thin text-2xl text-blue-600">
                Unidade de Saúde Vila Leão
            </span>
            <p class="text-sm font-semibold leading-6 text-gray-600">
                R. Primo Lourenço Tosin, 21 - Novo Mundo <br>
                Curitiba - PR, 81050-290 <br>
                Abre seg. às 07:00 <br>
                Telefone: (41) 3212-1475 <br>
            </p>
        </div>
    </div>
</li>

<li>
    <div class="flex items-center gap-x-6 pl-6">
        <div>
            <span class="font-thin text-2xl text-blue-600">
                Unidade de Saúde Vila Feliz
            </span>
            <p class="text-sm font-semibold leading-6 text-gray-600">
                R. Pedro Gusso, 866 - Novo Mundo <br>
                Curitiba - PR, 81050-200 <br>
                Abre seg. às 07:00 <br>
                Telefone: (41) 3212-1416 <br>
            </p>
        </div>
    </div>
</li>
<li>
    <div class="flex items-center gap-x-6 pl-6">
        <div>
            <span class="font-thin text-2xl text-blue-600">
                Unidade de Saúde Santa Quitéria
            </span>
            <p class="text-sm font-semibold leading-6 text-gray-600">
                Rua da Divina Providência, 1445 - Santa Quiteria <br>
                Curitiba - PR, 81310-010 <br>
                Abre seg. às 07:00 <br>
                Telefone: (41) 3314-5231 <br>
            </p>
        </div>
    </div>
</li>

<li>
    <div class="flex items-center gap-x-6 pl-6">
        <div>
            <span class="font-thin text-2xl text-blue-600">
                Unidade de Saúde Nossa Senhora da Luz
            </span>
            <p class="text-sm font-semibold leading-6 text-gray-600">
                R. Emídio Nonato da Silva, 45 - CIC <br>
                Curitiba - PR, 81305-700 <br>
                Abre seg. às 07:00 <br>
                Telefone: (41) 3212-1455 <br>
            </p>
        </div>
    </div>
</li>

<li>
    <div class="flex items-center gap-x-6 pl-6">
        <div>
            <span class="font-thin text-2xl text-blue-600">
                Unidade de Saúde Barigui
            </span>
            <p class="text-sm font-semibold leading-6 text-gray-600">
                Rua Arthur Martins Franco, 5516 - CIC <br>
                Curitiba - PR, 81540-160 <br>
                Abre seg. às 07:00 <br>
                Telefone: (41) 3314-5133 <br>
            </p>
        </div>
    </div>
</li>